.lower-content h3 {
    font-size: 20px;
    font-weight: 500;
    color: #3b566e;
    margin-bottom: 6px;
    margin-top: 6px;
}
.lower-content h3 a {
    color: #3b566e
}
.lower-content .post-meta {
    line-height: 29px;
    color: #222222;
    font-size: 19px;
    margin-bottom: 10px;
}
.lower-content .post-meta ul{
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}
.lower-content .post-meta ul li {
    font-size: 14px;
    margin-right: 5px;
    border-right: solid 1px #bbb;
    padding-right: 15px;
    line-height: 16px;
    word-break: break-word;
    float: left;
    margin-bottom: 10px;
}
.lower-content .text {
    line-height: 1.7em;
    font-size: 16px;
    color: #466077;
    font-weight: 300;
    float: left;
}
.lower-content .post-meta ul li a {
    color: #222;
    text-transform: capitalize;
}
.blog img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.blog {
    margin-bottom: 2rem;
}