.loginBg{
    width: 100%;
    float: left;
}
.loginBg img{
    width: 77%;
}
.loginFrom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.loginFrom h3 {
    font-size: 25px;
    margin-bottom: 24px;
}
.loginFrom input {
    width: 100%;
    height: 46px;
    border-radius: 33px;
    background-color: #d1f3ff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.loginFrom button {
    display: inline-block;
    background-color: #03a4ed;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: none;
    outline: none;
    transition: all .3s;
}
.loginFrom button:hover {
    background-color: #fe3f40;
}
.sign-in-account {
    margin-top: 16px;
}
.sign-in-account a{
    color: #fe3f40;
    margin-left: 5px;
}